.viewer {
  width: 19rem;
}

.schedule-name {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.schedule-name::selection {
  background-color: aqua;
}
