.viewer {
  width: 19rem;
}

.schedule-name {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  cursor: default;
  padding: 0.5rem;
}

.schedule-name-selected {
  background-color: rgb(215, 216, 219);
  font-weight: 550;
}
